/* Video */
.Video-container{
    display: flex;
    justify-content: center;
    background-color: rgb(28,25,23);
}
#single-video{
    height: 95vh;
    display: flex;
    justify-content: center;
    padding-right: 35px;
}
#cancel-icon{
    color:grey;
    font-size: 50px;
    padding-top: 5px;
}
.profile-info-containerz{
    display:flex;
    flex-direction: row;
    align-items:center;
    height: 20vh;
}
.video-description-container{
    display:flex;
    flex-direction: column;
}
.edit-delete-btn{
    padding-left: 10px;
    cursor:pointer;
}
.btn-container{
    padding-left: 30%;
}

/* Comments */
.Comments-container{
    background-color:rgb(214, 222, 222);
}

/* Comments login container */
.Comments-login-container{
    background-color:rgb(248, 248, 248);
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    height: 72vh;
}
.login--header--comments{
    display: flex;
    justify-content: center;
    margin: 10px;
}
#login-button--comments{
    border: rgb(255, 0, 80) 1px solid;
    background-color: rgb(255, 0, 80);
    color: white;
    border-radius: 6px;
    padding:0px 35%;
    height: 40px;
    margin-top: 20px;
    cursor:pointer;
    padding-top: 15px;
}

#official--login--button{
    color:black;
    cursor: 'pointer';
}