#home-video{
    /* border-radius: 2%;
    padding-left: 10%;
    padding-bottom: 3%; */
    /* height: 60%; */
    /* background-color:pink */
}
.poster-info{
    display:flex;
    align-items:center;
}
.profile-header-container{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    margin: 20px 0px;
}
.profile-info-container{
    display:flex;
    flex-direction: row;
    align-items:center;
}
.video-description-container{
    display:flex;
    flex-direction: column;

}
.Comment-button{
    /* display:flex; */
    /* justify-content: flex-end; */
    border: rgb(234, 72, 89) 1px solid;
    color: rgb(234, 72, 89);
    border-radius: 8%;
    padding:0px 3%;
    height: 30px;
    margin-top: 7px;
}
/* #profile-icon-home{
    /* height: 30p; */




/* Move to sidebar css */
/* #foryou-container{
    padding: 600px, 0px, 100px, 0px;
    background-color:pink
} */
.individual-container{
    border-bottom: rgb(214, 222, 222) solid 1px;
}
